.container-fluid{
    background-color: cadetblue;
}

.auth{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* unvisited link */
.auth a:link {
    color: red;
}

/* visited link */
.auth a:visited {
    color: black;
}

/* mouse over link */
.auth a:hover {
    color: white;
}

.login{
    width: 300px;
}
.login a{
    color: black;
}

.login .buttons{
    text-align: center;
}


.form{
    /*color: white;*/
    margin: 5px 0;
    background-color: #02627b;
}
.container-fluid .panel{
    background-color: #02627b;
}
.container-fluid .list-group .list-group-item{
    background-color: #02627b;
}

.form label{
    display: block;
    color: white;
}

.form isteven-multi-select label{
    color: black;
}


.form input{
    color: black;
    display: block;
}

.form button{
    display:block;
    margin: 10px auto;
}

.form h3{
    color: white;

    text-align: center;
}
